[Desktop Entry]
Name=Start Fanctl
Comment=Fan Control daemon
Exec=gksu /opt/fanctl/main -loglevel 1
Icon=/opt/fanctl/fanctl.png
Terminal=true
Type=Application
